<!DOCTYPE html>
<html>

    <head>

        <title> Node.js express mongoDB CRUD</title>
        <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity =integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"> 
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>

<body class= "bg-info">
    <div class ="row">
        <div class="col-md-6 offset-md-3" style ="backgroung-color:  #fff;margin-top: 25px;padding:20px;">

{{{body}}}

</div>

</div>
    </body>
</html>

