<h3>{{viewTitle}}</h3>

<form  action ="/user" method= "post" autocomplete="off">
<input type="hidden" name="_id" value="{{user._id}}">
    <div class = "form-group">
        <label>name</label>
        <input type="text" class="form-control" name="name" placeholder="name">
    </div>
    <div class="form-group">
        <label>age</label>
        <input type="number" class="form-control" name="age" placeholder="age">
    </div>
    <div class="form-row">
        <label>movies</label>
        <input type="text" class="form-control" name="movies" placeholder="movies">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class= "btn btn-secondary"  href="/user/list"><i class="fa fa-list-alt"></i>View ALL</a>
    </div>
</form>