
<h3><a class="btn btn-secondary" href="/user"><i class="fa fa-plus">create new</i></a>User List</h3>
<table class="table table-striped"  style="background-color:rgb(248, 248, 248)" border = "black">
<thead>
<tr>
    <th>name</th>
    <th>age</th>
    <th>movies</th>
    <th></th>
</tr>
</thead>
<tbody>
    {{#each list}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td>{{this.movies}}</td>
        <td>
            <a href="/user/{{this._id}}"><i class = "fa fa-pencil fa-lg" aria-hidden="true"></i></a>
            <a href="/user/delete/{{this._id}}"  onclick="return confirm('Are you sure to delete ?')"><i class = "fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </td>

    </tr>
    {{/each}}
</tbody>

</table>